<div class="wrapper">
  <div *ngIf="animalList" class="p-3">
    <button class="btn btn-primary btn-lg mt-3" (click)="addAnimal()" style="height: 50px;">
      Add animal
    </button>
  </div>
  <div class="grid-container gap-2 p-3">
    <div class="card" *ngFor="let animal of animalList; trackBy: trackByFn" (click)="sendToRoute(animal)">
      <img src="{{animal.image_link}}" alt="img" class="animal-img">
      <div class="card-body">
        <h4 class="card-title">{{animal.name}}</h4>
        <p class="card-text"> {{animal.habitat}} </p>
      </div>
    </div>

  </div>
</div>